apt-clone==0.2.1
apt-xapian-index==0.47
apturl==0.5.2
atomicwrites==1.4.0
attrs==21.2.0
beautifulsoup4==4.10.0
blessings==1.6
blinker==1.3
bpython==0.15
Brlapi==0.6.4
catfish==1.4.2
chardet==2.3.0
command-not-found==0.3
configobj==5.0.6
cryptography==1.2.3
curtsies==0.2.6
cycler==0.10.0
decorator==4.0.6
defer==1.0.6
dirspec==13.10
distro-info===0.18-ubuntu16.04.1
EasyProcess==0.3
et-xmlfile==1.1.0
future==0.15.2
GDAL==2.2.2
greenlet==0.4.9
httplib2==0.9.1
idna==2.0
ipython_genutils==0.1.0
Jinja2==2.8
kiwisolver==1.3.2
louis==2.6.4
lxml==3.5.0
Mako==1.0.3
MarkupSafe==0.23
matplotlib==3.4.3
menulibre==2.1.3
more-itertools==8.10.0
mugshot==0.3.1
mysql-connector-python==2.0.4
mysqlclient==1.3.7
numpy==1.21.2
oauthlib==1.0.3
onboard==1.2.0
oneconf==0.3.9
openpyxl==3.0.9
OWSLib==0.14.0
packaging==21.0
pandas==1.3.3
pexpect==4.0.1
Pillow==8.3.2
piston-mini-client==0.7.5
plotly==1.9.5
pluggy==0.13.1
psutil==3.4.2
psycopg2==2.6.1
ptyprocess==0.5
py==1.10.0
pyasn1==0.1.9
pycrypto==2.6.1
pycups==1.9.73
pycurl==7.43.0
Pygments==2.1
PyGObject==3.20.0
PyICU==1.9.2
PyJWT==1.3.0
pyparsing==2.4.7
pyproj==1.9.5.1
pytest==5.1.1
python-apt==1.1.0b1+ubuntu0.16.4.12
python-dateutil==2.8.2
python-debian==0.1.27
python-xapp==1.0.0
pytz==2021.1
PyVirtualDisplay==2.2
pyxdg==0.25
PyYAML==3.11
reportlab==3.3.0
requests==2.26.0
scipy==1.7.1
screen-resolution-extra==0.0.0
seaborn==0.11.2
selenium==3.141.0
sessioninstaller==0.0.0
setproctitle==1.1.8
six==1.10.0
soupsieve==2.2.1
system-service==0.3
thin-client-config-agent==0.8
traitlets==4.0.0
ubuntu-advantage-tools==27.2
ubuntu-drivers-common==0.0.0
ufw==0.35
urllib3==1.26.7
virtkey==0.63.0
wcwidth==0.1.6
xkit==0.0.0
xlrd==1.2.0
